/* src/components/ProductCard.css */
.productList-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ddd;
  padding: 16px;
  border-radius: 25px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  width: 30%;
  height: 60%;
  background-color: white;
  transition: transform 0.2s;
  cursor: pointer;
}

.productList-card:hover {
  transform: scale(1.01);
}

.productList-image {
  /* width: auto;
  height: 450px; */
  margin: 10px 0;
  object-fit: contain;
  border-radius: 8px;
}

.product-details {
  text-align: center;
}

.product-details h2 {
  font-size: 1.2rem;
  margin: 10px 0;
}

.product-details p {
  font-size: 1rem;
  color: #555;
}

.productList-name {
  font-size: 18px;
  font-weight: bold;
}
